<h2 class='container-fluid header'>Get a Movie Recommendation</h2>

<div class='container-fluid'>
  <div class="row">
    <div class='col-md-6'>
      <form ng-submit="searchRecMovies()">
        <div class="input-group recBar">
          <input type='text' ng-model="data.query" ng-minlength='2' class="form-control" 
          placeholder="I want to watch a movie like..."/>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Submit</button>
          </span>
        </div>
      </form>

      <ul class='movieList'>
        <li class='movie'
        ng-repeat='movie in data.movies | limitTo: 10'
        ng-click='featureMovie(movie)'>
        {{movie.title}}
        </li>
      </ul>
    </div>

    <div class='col-md-6'>
      <form ng-show='data.featuredMovie' ng-submit='favorite(data.featuredMovie)'>
        <button type="submit" class="btn btn-default glyphicon glyphicon-heart"></button>
      </form>
      <div>
        <img ng-src={{data.featuredMovie.info.Poster}}><br>
        <p ng-show='data.featuredMovie.info' class='movieTitle'>{{data.featuredMovie.info.Title}} ({{data.featuredMovie.info.Year}})</p>
        <p>{{data.featuredMovie.info.Plot}}</p>
        <p ng-show='data.featuredMovie.info'><span class='subhead'>Director: </span>{{data.featuredMovie.info.Director}}</p>
        <p ng-show='data.featuredMovie.info'><span class='subhead'>Cast: </span>{{data.featuredMovie.info.Actors}}</p>
        <a ng-show='data.featuredMovie.info' ng-href='http://www.imdb.com/title/{{data.featuredMovie.info.imdbID}}'>Check this movie out on IMDb</a>
      </div>
    </div>
  </div>
</div>